.env
__pycache__/
*.pyc
.vscode/
.DS_Store
node_modules/
dist/
coverage/
*.log   
.idea/
*.sqlite3
.env.local
*.bak
*.swp
*.tmp
*.iml
*.class
*.jar
*.war
*.ear
*.db
*.sql
*.zip
*.tar.gz
*.exe
*.dll
*.out
*.obj
*.lib
*.pdb
vendor/
venv/